parameters:
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    level: 8
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    excludePaths:
        - config/reference.php
        - rector.php
    treatPhpDocTypesAsCertain: false
    symfony:
        containerXmlPath: var/cache/dev/Tvdt_KernelDevDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/object-manager.php
